@charset "utf-8";

@font-face{
	font-family:"malgun";
	src:url('../fonts/malgun.eot');
	src:url('../fonts/malgun.eot?#iefix') format('embedded-opentype'),
	url('../fonts/malgun.woff') format('woff'),
	url('../fonts/malgun.ttf') format('truetype'),
	src:local(※), url('../fonts/malgun.woff') format('woff');
}
