.cont_left {width: 100%; float: none; }
.wrap {padding: 10px 10px 10px 10px; min-height: 500px;}
.custom_basic {height: calc(100% - 90px); padding: 10px; margin: 0;}
.container-tb th.fth-header {
    background-color: #f1f2f7;
    /*border-bottom: 1px solid #e2e1e9 !important;*/
    /*border-top: 1px solid #e2e1e9 !important;*/
    color: #414850;
    font-weight: 600;
    height: 40px;
}
.container-tb td {
	white-space: pre-line;
}
