@charset "utf-8";
@import "reset.css";
@import "fonts.css";

html {
	height:100%; width:100%; margin:0;padding: 0;
}
body {
    
    font-size: 14px;
/* 	min-width:1024px; */
    color: #454545;
    margin:0;padding:0; 
    position: relative;
    height:calc(100% - 12px); 
	border:6px solid #1384d2;
	overflow: hidden;
}

/*
.popupwrap{margin:0;padding:0;position: relative;height:calc(100% - 12px);border:6px solid #29635b;}
*/

.popupwrp{
	margin:0;
	padding:0;
	position: relative;	
}

.tit{
	margin: 17px 10px 10px 15px;
}

.tit img{
	margin-right: 5px;
}

.tit span{
	color:#1c272e;
	font-size:18px;
	font-weight: 600;
	margin-right: 5px;
	vertical-align: middle;
	letter-spacing: -1px;

}

.popcontent {
    display: none;
    padding:0;
	width: 100%;
}

.custom_basic{
	margin:10px;width: 100%;
}

/**마이페이지 테이블**/

.customers {
    border-collapse: collapse;
    width: 97.8%;
    table-layout: fixed;
    background: #fff;
	border: 1px solid #e2e1e9;
}

.customers th {
    background-color: #f1f2f7;
    border-bottom: 1px solid #e2e1e9 !important;
    border-right: 1px solid #e2e1e9 !important;
    color: #414850;
    font-weight: 600;
    height: 40px;
}

.customers th:first-child{border-left:none !important;}

.customers td{
    height:38px; 
    line-height:22px;
    color:#424d53;
    border-bottom: 1px solid #e2e1e9;
    text-align: left;
    padding: 3px 10px;
}

.m_ipt{background-color:#fff; border:1px solid #e2e4e6; line-height:19px; height:25px; padding:0; text-indent:5px; font-size:13px;width: 100%;}

textarea{
	width: 720px;
	border: none;
	color:#ddd;
	font-family:"malgun", sans-serif; font-size:13px; 
	line-height:1.4; color:#555; 
	margin:10px 0;
}

.h_340{
	height:340px;
}

.h_220{
	height:220px;
}

.h_80{
	height:80px;
}

.btn_area{
	float: right;
	margin:30px 20px 15px 15px;
}

.btn_area a{color: #fff;}

.btn_list{
	background: #117fca;
	padding: 10px 20px;
	border-radius: 4px;
	color: #fff;
	font-weight: 600;
}

.qbtn{
	margin:10px;
	display: inline-block;
}

.qbtn a{color: #fff;}

.qbtn .btn_list{
	background: #117fca;
	padding: 5px 5px;
	border-radius: 4px;
	color: #fff;
	font-weight: 600;
}

.btn_write{
	float:right !important;
	text-align: right;
	vertical-align: bottom;
	padding-top:5px;
}

/*
.customers tr:nth-child(even){background-color: #f0f9ff;}
.customers tr:hover {background-color: #fffadc;cursor:pointer;}

.ellipsis{overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
*/
