<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<!-- SqlSession setup for MyBatis Database Layer -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:/sqlmap/sql-mapper-config.xml" />
		<property name="mapperLocations" value="classpath:/sqlmap/mappers/**/*.xml" />
	</bean>
	
	
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory"/>
	</bean>

	<!--CTI DB1   -->
	<bean id="sqlSessionFactory1" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource1" />
		<property name="configLocation" value="classpath:/sqlmap/sql-mapper-config.xml" />
		<property name="mapperLocations" value="classpath:/sqlmap/mappers/**/*.xml" />
	</bean>
	
	
	<bean id="sqlSessionTemplate1" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory1"/>
	</bean>
	<!--CTI DB1 END   -->
	
	<!--CTI DB2   -->
	<bean id="sqlSessionFactory2" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource2" />
		<property name="configLocation" value="classpath:/sqlmap/sql-mapper-config.xml" />
		<property name="mapperLocations" value="classpath:/sqlmap/mappers/**/*.xml" />
	</bean>
	
	
	<bean id="sqlSessionTemplate2" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory2"/>
	</bean>
	<!--CTI DB2 END   -->
	

	
	<!-- MapperConfigurer setup for MyBatis Database Layer with @Mapper("deptMapper") in DeptMapper Interface -->
	<!-- <bean class="egovframework.rte.psl.dataaccess.mapper.MapperConfigurer">
		<property name="basePackage" value="com.sfr.**.dao" />
	</bean> -->
    
</beans>