
@charset "utf-8";

/*board_style:label*/
.tbl_type_board .notic-label {padding:0 18px; font-size:13px; font-weight:600; border-radius: 15px; height:22px; line-height:20px; display:inline-block;}
.tbl_type_board .color1 {border-color:#08b8d8;background:#08b8d8;color:#fff;}

.count {padding-top:6px; font-size:14px; color:#333333; background:url(../images/common/board_ico_count.gif) no-repeat 0 7px; padding-left:30px;}

/*board_style:공지,자유게시판*/
.board_type{border-top:2px solid #323232;}
.tbl_type_board,.tbl_type_board th,.tbl_type_board td{border:0;}  
.tbl_type_board{width:100%;border-bottom:2px solid #bcbcbc;table-layout:fixed;margin-left: auto;margin-right: auto;letter-spacing:-0.5px;border-collapse:collapse; margin-bottom:30px;}  
.tbl_type_board caption{display:none}
.tbl_type_board th{height:40px;border-bottom:1px solid #bcbcbc;background:#f0f0f0;color:#333333;padding:3px 5px; font-weight:600;}
.tbl_type_board th.center{text-align:center;}
.tbl_type_board td.course_tit{text-align:left;text-overflow: ellipsis;-o-text-overflow: ellipsis;overflow: hidden;white-space: nowrap;word-wrap: normal !important;padding:0 5px 0 0;}
.tbl_type_board td{height:38px; border-top:1px solid #e3e3e3;line-height:15px;vertical-align:middle;word-break:break-all; text-align:center; letter-spacing:-1px; box-sizing:border-box;}
.tbl_type_board td.attach_box{padding:10px 20px;}
.tbl_type_board td.course_tit{text-align:left;text-overflow: ellipsis;-o-text-overflow: ellipsis;overflow: hidden;white-space: nowrap;word-wrap: normal !important;padding:0 5px 0 0;}
.tbl_type_board td.eduCenter_tit{text-align:left;text-overflow: ellipsis;-o-text-overflow: ellipsis;overflow: hidden;white-space: nowrap;word-wrap: normal !important;padding:0 5px 0 0;}
.tbl_type_board td.division{text-overflow: ellipsis;-o-text-overflow: ellipsis;overflow: hidden;white-space: nowrap;word-wrap: normal !important;padding:0 5px 0 0;}
.tbl_type_board td.apply_course_tit{text-align:left;text-overflow: ellipsis;-o-text-overflow: ellipsis;overflow: hidden;white-space: nowrap;word-wrap: normal !important;}
.tbl_type_board td.qna_tit{text-align:left;text-overflow: ellipsis;-o-text-overflow: ellipsis;overflow: hidden;white-space: nowrap;word-wrap: normal !important;}
.tbl_type_board td.complete{color:#0760ac ;font-weight:600;}
.tbl_type_board td.ing{color:#ff0000 ;font-weight:600;}
.tbl_type_board td a:hover{color:#0866af;text-decoration:underline;}
.tbl_type_board th.p-color{color:#6f2da7;}
.btnline{text-align:center;}
.tbl_type_board th.toptitle{text-align:center; padding-left:0;}
.tbl_type_board.i_check{width:13px;height:13px;margin:2px 3px 2px 0;padding:0;vertical-align:middle}
.tbl_type_board td.c_left{text-align:left;text-overflow: ellipsis;-o-text-overflow: ellipsis;overflow: hidden;white-space: nowrap;word-wrap: normal !important;}
.tbl_type_board td.c_right{text-align:right; padding-left:0;}
.tbl_type_board tbody.faq_pd td{padding:16px 0; cursor:pointer;}/*faq 간격*/
.tbl_type_board .reply td{background-color:#f9f9f9; border-top:1px solid #a8aeb5; border-bottom:1px solid #a8aeb5; line-height:24px;}
.hide{display:none;}

/*심사단계 실시간조회*/
.status{text-align:center;padding:0 0 0 25px;vertical-align:middle;height:100%;}
.status ul li{float:left; margin:15px 0;}
.status ul li.status_box{height:35px;width:63px;border:2px solid #0760ac;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;padding:11px;font-weight:600;color:#16a0dc;}
.status ul li.status_box span.status_date{display:block;font-size:14px;color:#999;padding-top:5px;}
.status ul li.status_box span.status_date_white{display:block;font-size:14px;color:#fff;padding-top:5px;}
.status ul li.color{background:#16a0de;color:#fff;}
.status ul li.arrow_box{padding:20px 10px 0 10px;}
.tbl_type_board td.status_center{text-align:center;}
.tbl_type_board td.issue a{color:#ff0000;float:left;font-weight:600;text-decoration:underline;}

/*질문답변*/
.tbl_type_board td.txt_red{color:#ff0000;font-weight:600;}
.tbl_type_board td.txt_blue{color:#0760ac;font-weight:600;}
.tbl_view .con .txt_answer{color:#1767ba;padding:20px; min-height:100px; line-height:22px; position:relative; box-sizing:border-box;} /* border 없는경우 */
.txtBox{margin-bottom:40px;}

/*인가신청 유의사항*/
.notice_txt{padding:0 0 30px 0;}
.notice_txt p{padding:10px 0;}
.attach_b a{color:#1767ba;}
.notice_txt h3{padding:30px 0 10px 0;color:#007cbc;font-weight:600;}
.notice_txt p.p_txt{padding:0 0 0 18px;}
.notice_txt .file_attach01>li{line-height:30px; background:url(../images/common/board_ico_file.gif) no-repeat 20px 10px; padding-left:40px;}
.notice_txt .file_attach01>li img{vertical-align:middle; margin-left:8px;}
.notice_txt .file_attach01>li a{text-decoration:underline;}


/*인가절차*/
.eduIns h3{padding:5px 0 5px 0;}
.eduIns p{border-top:1px solid #999;padding:20px 0;}
.eduIns p.img{text-align:center;}
.eduIns p.blue_b{color:#333;font-weight:600;}
.attach_b {border-top:1px solid #999;padding:20px 0;}
.attach_b a{color:#1767ba;}
.tbl_type_board .reply em{color:#4c7299;}

/*Q&A*/
.answer{color:#1767ba;}

/*지식자료-표준교재문의*/
.tbl_type_board span.reply{color:#ff0000;padding-left:5px;}
.tbl_view .a_bg{background-color:#F4F7FC;}
.txt_reply ul li{float:left;}
.tbl_view .con .txt_reply{color:#1767ba;padding:20px; min-height:100px; line-height:22px; position:relative; box-sizing:border-box;} /* border 없는경우 */
.txt_reply p{color:#666;}
.txt_reply p.reply_con{color:#666;padding:10px 0 0 0;font-weight:300;}
.txt_reply span.reply_name{color:#444;font-weight:600;}
.txt_reply span.reply_date{padding:0 15px;color:#999;}

/*전문교육기관 안내*/
.eduIns_list{width:100%;height:100%;overflow:hidden;}
.eduIns_list ul li{float:left;}
.eduIns_list ul li.img_logo{width:230px;height:173px;vertical-align:top;border:1px solid #ccc;}
.eduIns_list ul li.img_logo img{width:100%;height:100%;}
.eduIns_list ul li.list_all{width:608px;height:100%;vertical-align:top;}

.tbl_type_board td.thtit{height:39px;border-bottom:1px solid #e3e3e3;background:#f0f0f0;color:#333333;padding:3px 20px; font-weight:600;text-align:left;}
.tbl_type_board td.tdtxt_b{border-top: 1px solid #e3e3e3;line-height: 24px;vertical-align: middle;word-break: break-all;text-align: left;letter-spacing: -1px;box-sizing: border-box;padding:3px 20px;color:#0170c2;font-weight:600;}
.tbl_type_board td.tdtxt_b a{color:#0170c2;}
.tbl_type_board td.tdtxt{border-top: 1px solid #e3e3e3;line-height: 24px;vertical-align: middle;word-break: break-all;text-align: left;letter-spacing: -1px;box-sizing: border-box;padding:3px 20px;}
.tbl_type_board li.tdtxt_underline a{color:#666;padding: 0 0 0 10px;text-decoration:underline;background:url(../images/common/bul_dot01.png) no-repeat 0px 10px;}
.tbl_type_board li.tdtxt_underline a:hover{color:#333;}
.tbl_type_board span.tdtxt_date{color:#999;}
.tbl_type_board a:hover span.tdtxt_date {color:#666;}
.borbot_1{border-bottom:1px solid #e3e3e3;}

/*전문교육기관 안내-상세*/
.sublist{position:relative;width:100%; margin:0 auto;overflow:hidden; margin-top:20px;}
.sublist ul li{float:left;}
.sublist_view{width:45%;height:900px;display:inline-block;border:1px solid #ccc;overflow:hidden;vertical-align:top;margin-right:20px;padding:15px;overflow-y:auto;}
.sublist_list{width:45%;height:900px;display:inline-block;border:1px solid #ccc;overflow:hidden;vertical-align:top;padding:15px;overflow-y:auto;}

.sublist_tit{width:41%;display:inline-block;overflow:hidden;vertical-align:top;margin-right:84px;font-size:16px;font-weight:600;color:#000;padding-bottom:5px;}
.sublist_tit01{width:40%;display:inline-block;overflow:hidden;vertical-align:top;font-size:16px;font-weight:600;color:#000;padding-bottom:5px;}

/*전문교육기관 관리*/
.subtxt_but{position: relative;display: inline-block;width: 100%;}
.sublist_tit02{float:left;vertical-align:bottom;font-size:17px;font-weight:600;color:#000; padding:15px 0 0 25px;background:url("../images/common/tit_ic_list.png") no-repeat 0 15px;}
.sublist_tit02_1{width:40%;display:inline-block;overflow:hidden;vertical-align:top;font-size:17px;font-weight:600;color:#000; padding:0px 0 0 26px;background:url("../images/common/tit_ic_list.png") no-repeat 0 0px;}
.sublist_tit03{float:left;vertical-align:bottom;font-size:17px;font-weight:600;color:#000; padding:15px 0 0 25px;background:url("../images/common/tit_ic_03.png") no-repeat 0 20px;}
.sublist_tit03_1{width:40%;display:inline-block;overflow:hidden;vertical-align:top;font-size:17px;font-weight:600;color:#000; padding:0px 0 0 28px;background:url("../images/common/tit_ic_03.png") no-repeat 0 2px;}
.sublist_tit04{width:40%;display:inline-block;overflow:hidden;vertical-align:top;font-size:17px;font-weight:600;color:#000; padding:0px 0 0 26px;background:url("../images/common/tit_ic_attach.png") no-repeat 0 2px;}
.sublist_tit05{float:left;vertical-align:bottom;font-size:17px;font-weight:600;color:#000; padding:15px 0 0 25px;background:url("../images/common/tit_ic_upload.png") no-repeat 0 14px;}
.sublist_tit06{width:40%;display:inline-block;overflow:hidden;vertical-align:top;font-size:17px;font-weight:600;color:#000; padding:0px 0 0 25px;background:url("../images/common/tit_ic_uploadx.png") no-repeat 0 0px;}
.sublist_tit07{float:left;vertical-align:bottom;font-size:17px;font-weight:600;color:#000; padding:15px 0 0 26px;background:url("../images/common/tit_ic_01.png") no-repeat 0 18px;}
.sublist_tit07_1{width:40%;display:inline-block;overflow:hidden;vertical-align:top;font-size:17px;font-weight:600;color:#000; padding:0px 0 0 28px;background:url("../images/common/tit_ic_01.png") no-repeat 0 2px;}
.sublist_tit08{float:left;vertical-align:bottom;font-size:17px;font-weight:600;color:#000; padding:15px 0 0 26px;background:url("../images/common/tit_ic_05.png") no-repeat 0 18px;}
.sublist_tit08_1{width:40%;display:inline-block;overflow:hidden;vertical-align:top;font-size:17px;font-weight:600;color:#000; padding:0px 0 0 28px;background:url("../images/common/tit_ic_05.png") no-repeat 0 2px;}
.sublist_tit09{float:left;vertical-align:bottom;font-size:17px;font-weight:600;color:#000; padding:15px 0 0 25px;background:url("../images/common/tit_ic_q.png") no-repeat 0 14px;}
.sublist_tit09_1{width:40%;display:inline-block;overflow:hidden;vertical-align:top;font-size:17px;font-weight:600;color:#000; padding:0px 0 0 26px;background:url("../images/common/tit_ic_a.png") no-repeat 0 0px;}

.con_list10_new { width:100%; overflow:hidden; }
.con_list10_new table { width:100%; }
.con_list10_new th { overflow:hidden; border-top:2px solid #83c1d6; border-bottom:1px solid #cccccc; background:#f3f3f3; color:#010101; font-size:13px; text-align:center;padding:5px 0 5px 0; }
.con_list10_new td { border-bottom:1px solid #dfdfdf; color:#5b5d5a; font-size:11px; text-align:center; padding:10px 0 0 0; }
.con_list10_new td.op1 { text-align:left; padding:10px 0 20px 0; }
.con_list10_new td p.tit1 { display:inline-block; width:85%; height:22px; padding:1px 0 0 50px; font-size:13px; color:#666666; background:url("../images/common/ic_16.png") no-repeat 0 6px; }
.con_list10_new td p.tit2 { display:inline-block; width:100%; height:22px; padding:3px 0 0 0; font-size:15px; color:#0170c2; font-weight:600; }
.con_list10_new td p.tit2 a { font-size:15px; color:#0170c2; font-weight:600;text-decoration:underline; }
.con_list10_new td p.tit3 { display:inline-block; width:85%; line-height:16px; font-size:12px; color:#454545;padding:5px 0 0 0; }

.con_list4 { width:100%; overflow:hidden; }
.con_list4 table { width:100%; border-top:2px solid #323232;border-bottom:2px solid #bcbcbc;}
.con_list4 th {height:40px;border-bottom:1px solid #bcbcbc;background:#f0f0f0;color:#333333;padding:3px 5px; font-weight:600;}
.con_list4 th.op1 { border-top:1px solid #dedede; border-bottom:1px solid #dedede; border-right:2px solid #c2c2c2; border-left:1px solid #dedede; }
.con_list4 td {height:38px; border-top:1px solid #e3e3e3;line-height:15px;vertical-align:middle;word-break:break-all; text-align:center; letter-spacing:-1px; box-sizing:border-box;}
.con_list4 td a { color:#565656; }

.ellip { text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden; white-space:nowrap; }
a.btn_detail1 { display:inline-block; padding:0 5px 0 5px; height:21px; font-size:11px; font-weight:normal !important; background:#0760ac; color:#ffffff !important; text-align:center; line-height:21px; }

.con_class { width:100%; overflow:hidden; }
.con_class h1 { width:100%; height:35px; padding:12px 0px 0 0px; background-color:#096cb5; color:#ffffff; font-size:17px; font-weight:600; text-align:center; }
.con_class p { position:absolute; top:13px; right:18px; }
.con_class .class_info { overflow:hidden; background:#fff;  }
.con_class .class_info table { width:100%;border-bottom:2px solid #ccc;}
.con_class .class_info th { height:36px; background:#eef2fd; color:#323232; font-size:15px; text-align:left; padding-left:20px; font-weight:600; border-bottom: 1px solid #e3e3e3; }
.con_class .class_info td { height:36px; color:#666; font-size:15px; text-align:left; padding-left:20px;border-bottom: 1px solid #e3e3e3;  }
.con_class .class_info td.line { height:5px; border:1px solid #eef2fd; }


.con_class_new { width:100%; overflow:hidden; }
.con_class_new h1 { width:100%; height:40px; padding:15px 0px 0 0px; background-color:#83c1d6; color:#ffffff; font-size:18px; font-weight:600; text-align:center; }
.con_class_new p { position:absolute; top:13px; right:18px; }
.con_class_new .class_info { overflow:hidden; background:#eef2fd; border:1px solid #d9e6f7; border-width:0 1px 1px 1px; padding:10px 10px 10px 10px; }
.con_class_new .class_info table { width:100%; }
.con_class_new .class_info th { height:30px; background:#ffffff; border:1px solid #abd2df;border-top:1px solid #eef2fd; color:#5c94be; font-size:13px; text-align:left; padding-left:15px; font-weight:600; }
.con_class_new .class_info td { height:30px; color:#333333; font-size:13px; text-align:left; padding-left:15px; }
.con_class_new .class_info td.line { height:5px; border:1px solid #eef2fd; }

.con_infor { overflow:hidden; line-height:24px; color:#555555; font-size:15px;  word-wrap:break-word; }
.con_infor_tit{font-size:15px;font-weight:600;text-decoration:underline;}
.con_info p{color:#666;}

.con_btn { text-align:right; }
.con_btn2 { text-align:center; }

.tit_ic1 { height:37px; color:#222222; font-size:17px; font-weight:600; background:url("../images/common/tit_ic_01.png") no-repeat 0 5px; padding:1px 0 0 30px; }
.tit_ic2 { height:37px; color:#222222; font-size:16px; font-weight:600; background:url("../images/common/tit_ic_02.png") no-repeat 0 5px; padding:1px 0 0 30px; }
.tit_ic3 { height:37px; color:#222222; font-size:16px; font-weight:600; background:url("../images/common/tit_ic_03.png") no-repeat 5px 5px; padding:1px 0 0 30px; }
.tit_ic4 { height:37px; color:#222222; font-size:17px; font-weight:600; background:url("../images/common/tit_ic_04.png") no-repeat 0 5px; padding:1px 0 0 30px; }
.tit_ic5 { height:34px; color:#333333; font-size:17px; font-weight:600; background:url("../images/common/tit_ic_05.png") no-repeat 5px 4px; padding:0 0 0 33px; }
.tit_ic6 { height:37px; color:#222222; font-size:16px; font-weight:600; background:url("../images/common/tit_ic_06.png") no-repeat 0 0; padding:1px 0 0 35px; }
.tit_ic7 { height:37px; color:#222222; font-size:16px; font-weight:600; background:url("../images/common/tit_ic_07.png") no-repeat 0 0; padding:1px 0 0 35px; }
.tit_ic8 { height:37px; color:#222222; font-size:16px; font-weight:600; background:url("../images/common/tit_ic_08.png") no-repeat 0 0; padding:1px 0 0 35px; }
.tit_ic9 { height:37px; color:#ff0000; font-size:16px; font-weight:600; padding:1px 0 0 35px; }


/*수강신청*/
ul.tabs {margin: 0;padding: 0;float: left;list-style: none;height: 40px;border-bottom: 1px solid #eee;border-left: 1px solid #eee;width: 100%;font-size:15px;}
ul.tabs li {float: left;text-align:center;cursor: pointer;width:24.8%;height: 40px;line-height: 40px;border: 1px solid #ccc;border-left: none;font-weight: bold;background: #fafafa;overflow: hidden;position: relative;}
ul.tabs li:first-child {float: left;text-align:center;cursor: pointer;width:24.8%;height: 40px;line-height: 40px;border-left: 1px solid #ddd;font-weight: bold;background: #fafafa;overflow: hidden;position: relative;}
ul.tabs li.active {background: #0a73b8;color:#fff !important;}

ul.tabs02 {margin: 0;padding: 0;float: left;list-style: none;height: 50px;border-bottom: 1px solid #eee;border-left: 1px solid #eee;width: 100%;font-size:15px;}
ul.tabs02 li {float: left;text-align:center;cursor: pointer;width:49.6%;height: 50px;line-height: 50px;border: 1px solid #ccc;border-left: none;font-weight: bold;background: #fafafa;overflow: hidden;position: relative;color:#333 !important;}
ul.tabs02 li:first-child {float: left;text-align:center;cursor: pointer;width:49.6%;height: 50px;line-height: 50px;border-left: 1px solid #ddd;font-weight: bold;background: #fafafa;overflow: hidden;position: relative;}
ul.tabs02 li.active {background: #2c3e50;color:#fff !important;}


.tab_container {border-top: none;clear: both;float: left;width:100%;background: #FFFFFF;}
.tab_content {padding:0 0 40px 0;display: none;}
.tab_content h3{font-size:16px;color:#333;font-weight:600;padding:30px 0 0 0;}
.register_box{display:block;height:142px;border-bottom:1px solid #ddd;}
.register_box ul {width:100%;margin:0px;padding:0px;}
.register_box ul li{float:left;}
.register_box ul li.img_logo{border:1px solid #ccc;width:213px;height:139px;}
.register_box ul li.img_logo img{width:100%;height:100%;}
.register_box ul li.register_box_con{width:495px;}
.register_box ul li.register_box_con p{width:495px;}
.register_box ul li.register_box_con p.rb_con_tit a{color:#0170c2;font-size:16px;font-weight:600;text-decoration:underline;}
.register_box ul li.register_box_con span.rb_con_le{padding:0 0 0 10px;width:100px;display:inline-block;background:url(../images/common/bul_dot01.png) no-repeat 0px 10px;}
.register_box ul li.register_box_con span.rb_con_ri{color:#333;}
.register_box ul li.register_button{width:122px;height:100%;}
.register_box ul li.img_logo{border:1px solid #ccc;}
.edu_process {width:495px;display:block;height:180px;}
.edu_process ul li{float:left;}

.lecture_intro{width:100%;}
.lecture_intro h3{color:#333;font-weight:600;background:url("../images/common/tit_ic_10.png") no-repeat 2px 1px; padding:0px 0 10px 35px;}
.lecture_intro h3.hico{color:#333;font-weight:600;background:url("../images/common/tit_ic_11.png") no-repeat 3px 1px; padding:0px 0 10px 35px;}

.register_txt{text-align:center; font-size:17px;color:#000;border-bottom:1px solid #ddd;}
.register_txt span.txt_red{color:#ff0000;}

.tbl_view{width:100%; text-align:left;}
.tbl_view thead th{padding:3px 20px; background-color:#f0f0f0;border-bottom:1px solid #e3e3e3;text-align:left;}
.tbl_view tbody th{padding:3px 20px; background-color:#f0f0f0;border-bottom:1px solid #e3e3e3;text-align:left;}
.tbl_view tbody th span.infobox{position:relative;display:inline-block;float:right;padding:4px 0 0 0;}
.tbl_view tbody th span.arrow_box{display: none;position: absolute;font-family:"NotoKrR";bottom: 10px;left: 15px;width: 200px;padding: 5px 8px;line-height:18px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;background: #333;font-family: 'NotoKrR';font-size: 13px;letter-spacing: -1px;color: #fff;}
a.infobox_cal{padding:0px 5px 0 2px;}
.tbl_view input[type="radio"] { display: inline-block; margin-right: 5px; vertical-align: -1px;}
.tbl_view input[type="text"],
.tbl_view select { margin-right:5px;}

.tbl_view span img:hover + span.arrow_box {display: block;}

.tbl_view td p.tit_view{width:100%;line-height:47px;font-size:16px; color:#333; text-align:left;text-overflow: ellipsis;-o-text-overflow: ellipsis;overflow: hidden;white-space: nowrap;word-wrap: normal !important;}
.tbl_view td p.tit_view_pp{width:100%;line-height:47px;font-size:15px; color:#333; text-align:left;text-overflow: ellipsis;-o-text-overflow: ellipsis;overflow: hidden;white-space: nowrap;word-wrap: normal !important;}
.tbl_view td{text-align:left;padding:0 20px;}
.tbl_view td.con{width:100%;padding:0px;}
.tbl_view td.info{padding-left:20px; line-height:50px;}
.tbl_view td.ask{padding:12px 20px;line-height:20px;}
.tbl_view td.attach{text-align:left;padding:10px 20px;}
.tbl_view td.wait{font-size:16px;font-weight:600;color:#ff0000;}
.tbl_view td em{text-align:left;padding:0 10px;font-size:14px;letter-spacing:-0.5px;}
.tbl_view td em.first{text-align:left;padding:0 10px 0 0;font-size:14px;letter-spacing:-0.5px;}

.list_type>li{display:inline-block;}
.list_type>li> span{padding-right:10px; color:#333;}
.list_type>li> em{color:#777;}
.list_type>li:before {content:"";display:inline-block;width:1px;height:14px;margin:0 12px;background:#e6e6e6;vertical-align:middle;}
.list_type>li:first-child:before {display:none;}

.file_attach{display:block; font-size:14px; color:#888;}
.file_attach>li{line-height:30px; background:url(../images/common/board_ico_file.gif) no-repeat 0 9px; padding-left:20px;}
.file_attach>li img{vertical-align:middle; margin-left:8px;}
.file_attach>li a{text-decoration:underline;}
.tbl_view .con .txtbox{padding:20px; min-height:200px; line-height:22px; position:relative; box-sizing:border-box;} /* border 없는경우 */
.tbl_view .con .qa_img{position:absolute; top:23px; left:20px;}
.tbl_view .con .a_bg{background-color:#F4F7FC;}

.tbl_write{}
.tbl_write th, 
.tbl_write td{border-bottom:1px solid #e3e3e3; border-top:0; text-align:left;}

.tbl_write th{padding:3px 20px;} 
.tbl_write td{padding:7px 20px;}

.tbl_list1{}
.tbl_list1 th, 
.tbl_list1 td{border-left:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3; border-top:0;}
.tbl_list1 th:first-child{ border-left:0 none;}
.tbl_list1 td:first-child{ border-left:0 none;}

.tbl_list1 td{padding:10px;}
.tbl_top{position:relative; margin:0px 0 5px 0; font-size:0;}
.tbl_top01{padding:10px 0 0 0;}

/*board_search*/
.search-box{padding:15px 0; border:1px solid #d4d4d4; background-color:#f0f4f6;margin:0 auto; text-align:center}
.search-box .select-type{margin-right:3px; width:100px;}
.search-box .select-type01{margin-right:3px; width:300px;}
.search-box .select-type02{margin-right:3px; width:150px;}
.search-box .word-input input{padding:0 5px; width:220px;}
.search-btn{ height:30px; line-height:28px; background-color:#686868; color:#FFF; min-width:70px; padding:0 20px; box-sizing:border-box;}
.search-btn.blue{background:#0760ac !important;}

.search-box .search_br01{ margin:0 auto; width:600px;}
.search-box .search_br01 th{text-align:right;padding:2px 10px 2px 0;}
.search-box .search_br01 td{text-align:left;padding:2px 0px;}


/*board_search_2:집체교육신청*/
.infosearch-box{position:relative; width:100%; border:1px solid #e2e6ec; background:#fff;line-height:normal; box-sizing:border-box;}
.infosearch-box .search_br{border:6px solid #edf0f3; padding:10px 0; text-align:center;}
.infosearch-box .search_br li{display:inline-block; }
.infosearch-box .search_br li.tit{font-size:14px;line-height:20px;font-weight:600;padding:0 5px 0 15px;}
.apply-btn{ height:25px; line-height:22px; background-color:#686868; color:#FFF;letter-spacing:-1px; min-width:50px; padding:0 10px; box-sizing:border-box;}
.apply-btn.blue{background:#0760ac !important;}
.apply-btn.black{background:#000000 !important;}

/* paginate1 */
.tbl_bottom{position:relative; margin:20px 0 30px 0; font-size:0;}
.pagination{text-align:center; line-height:0;}
.pagination a{width:35px; height:35px; font-size:14px; margin-right:5px; display:inline-block; text-align:center; line-height:34px; border:1px solid #e3e3e3; cursor:pointer; vertical-align:top; box-sizing:border-box;}
.pagination a:hover{border:1px solid #00aeeb; color:#00aeeb; text-decoration:underline;}
.pagination a.on{font-weight:700; border:1px solid #00aeeb; color:#00aeeb;}
.pagination a.btn_first{background:url(../images/common/paging_btn_first.gif) no-repeat 0 0; margin-left:0; font-size:0; border:none;}
.pagination a.btn_prev{background:url(../images/common/paging_btn_prev.gif) no-repeat 0 0; font-size:0; border:none;}
.pagination a.btn_next{background:url(../images/common/paging_btn_next.gif) no-repeat 0 0; font-size:0; border:none;}
.pagination a.btn_last{background:url(../images/common/paging_btn_last.gif) no-repeat 0 0; font-size:0; border:none; margin:0;}


/* faq */
.btn-list-faq {overflow:hidden; _zoom:1; margin-bottom:20px;}
.btn-list-faq li {float:left; width:213.75px; border-right:1px solid #dbdbdb; border-top:1px solid #dbdbdb; border-bottom:1px solid #dbdbdb;}
.btn-list-faq li:first-child {border-left:1px solid #dbdbdb;}
.btn-list-faq button {display:block; width:100%; height:48px; line-height:48px; color:#333; text-align:center; background:#fff; font-size:15px; transition : all 0.3s ease; -webkit-transition : all 0.3s ease;}
.btn-list-faq button:hover{ background:#f6f6f6; font-weight:600; color:#0171a5;}
.btn-list-faq button.on { background:#eff8fe; font-weight:600; color:#0171a5; border:1px solid #0171a5;}

/*etc*/
.check{display:inline-block; width:12px; height:10px; background:url(../images/common/ico_check.png) no-repeat; font-size:0; margin:0 10px 5px 10px; vertical-align:middle;}
.info_txt{height:30px; line-height:26px; text-align:right; font-size:13px;}

.menuinfo-box{position:relative; width:100%;border-radius:3px;border:1px solid #e9e9e9;background:#fff;line-height:normal; box-sizing:border-box;}
.menuinfo-box .hx1{ width:auto;padding:20px 0 20px 150px;clear:both;margin:0;border-radius:3px;border:4px solid #fff;background-color:#f3f3f3; letter-spacing:-0.25px; font-size:13px;}
.menuinfo-box em.stit{font-weight:700; font-size:18px; color:#323232;}
.menuinfo-box .faq_go{position:absolute; top:40px; right:70px;}
.menuinfo-box .qna_go{position:absolute; top:60px; right:70px; background-color:#4ab8a6}
.menuinfo-box .qna_img{position:absolute; left:70px; top:27px; background:url(../images/common/bg_img_qna.png) no-repeat 0 0; display:inline-block; width:64px; height:41px;}
.menuinfo-box .faq_i{top:35px;}

/*기관소개관리*/
.hyphen{width: 13px;height: 32px;margin: 0 5px 0 0;line-height: 32px;vertical-align: middle;text-align: center;}


/*모니터링 시스템-관리자메뉴-메뉴관리*/
.mmenu_list{width:100%;height:100%;overflow:hidden;}
.mmenu_list ul li{float:left;}
.mmenu_list ul li.le_tree{width:44%;height:500px;vertical-align:top;border:1px solid #ccc;overflow:scroll;padding:20px;}
.mmenu_list ul li.ri_menu{width:48%;height:100%;vertical-align:top;float:right;}



