
/*로그인박스*/
.loginWrap {}
.loginWrap .loginBox{position:absolute; width:1100px; height:340px;top:0;left:0;bottom:0;right:0;margin:auto;}
.loginWrap .loginBox_img{float:left;height:340px;padding: 20px 50px 0 0;}
.loginWrap .loginBox_01 {width:600px; height:340px;background-color:#fff;display: block; float: left; border-left: 1px solid #e1e1e1; border-top:2px solid #0760ac; border-right: 1px solid #e1e1e1; border-bottom: 1px solid #e1e1e1; }
.loginWrap .loginBox_01 .login_header { display: block;  text-align:center; color: #2a2a2a; border-bottom:1px solid #e1e1e1; padding:20px 0; margin:0 auto; width:90%;}
.loginWrap .loginBox_01 .login_header .tit{font-size:23px; font-weight:600; padding-bottom:10px;padding-top:10px;}
.loginWrap .loginBox_01 .login_header .txt{line-height:40px; font-size:34px;font-weight:700;padding-bottom:10px;letter-spacing:-2px;}
.loginWrap .loginBox_01 .login_header span.txt2{color:#4876a3;}


.loginWrap .loginBox_01 .inputBox{ position:relative; width:480px; height:110px; margin:0 auto; padding-top:40px;}
.loginWrap .loginBox_01 .inputBox .input01 { float: left; margin-left: 5px;}
.loginWrap .loginBox_01 .inputBox .input02 {  float: left; width: 90px; height: 75px; margin-left: 10px; }

.loginWrap .loginBox_01 .inputBox .input01 span.txtid,
.loginWrap .loginBox_01 .inputBox .input01 span.txtpw { float:left; width:70px; }
.loginWrap .loginBox_01 .inputBox .input01 .cont { height: 31px; line-height: 31px; }
.loginWrap .loginBox_01 .inputBox .input01 .mgb10 { margin-bottom: 10px; }
.loginWrap .loginBox_01 .inputBox .chk { clear: both; margin:5px 0 0 75px; font-size: 13px; color: #666666; }
.loginWrap .loginBox_01 .inputBox .chk input[type="checkbox"]{ /*vertical-align: -1px;*/ margin:3px 3px 3px 0; }

.loginWrap .loginBox_01 .inputBox .input01 .label_txt{line-height:30px;}
.loginWrap .loginBox_01 .inputBox .input01 input { font-size: 14px; color: #666666; }
.loginWrap .loginBox_01 .inputBox .input01 input[type="text"],  
.loginWrap .loginBox_01 .inputBox .input01 input[type="password"] { width: 280px; border: 1px solid #cbd3d9; color: #666666; float:right; } 
.loginWrap .loginBox_01 .inputBox .input01 input[type="radio"] { margin-left: -1px; vertical-align: -2px; } 

.loginWrap .loginBox_01 .inputBox .input02 button { width: 90px; height: 70px; border: none; background: #0760ac; font-size: 16px; color: #ffffff; }

.loginWrap .loginBox_01 .btn_area{width:100%;  background:#fff; padding:0px 0 40px 0;}
.loginWrap .loginBox_01 .btn_area li{  display:inline-block; text-align:center; font-size:14px; }
.loginWrap .loginBox_01 .btn_area01{width:100%;  background:#ebf2f4; padding:30px 0;}
.loginWrap .loginBox_01 .btn_area01 ul li{text-align:left;float:none;width:50%;  background:#ebf2f4; padding:0px 0 0 315px;}
.loginWrap .loginBox_01 .btn_area01 ul li.login_b{font-weight:600;color:#333;}
.loginWrap .loginBox_01 .btn_area01 span.txt_blue{font-weight:600;color:#0170c2;}

