@charset "utf-8";
/* 요소숨김 */
.blind{display:block;position:absolute;left:-9999px;text-indent:9999px;width:0;height:0;border:0;overflow:hidden;font-size:0;line-height:0;white-space:nowrap}


/* 공통 */
#warp{min-width:1100px}
.overflow{overflow:hidden}

/* 타이틀 */
.title01{font-size:29px;font-weight:700;padding-bottom:47px;color:#000;letter-spacing:-.25px}
.title02{font-size:20px;font-weight:600;color:#000;letter-spacing:-.25px}
.title03{font-size:18px;font-weight:600;color:#222;letter-spacing:-.25px;position:relative;padding-left:14px}
.title03:before{content:"";position:absolute;top:9px;left:0px;width:8px;height:3px;background:#c91c22}

/* font style guide */
.fRegular{font-weight:normal !important}
.fMedum{font-weight:600 !important}
.fBold{font-weight:700 !important}
.fEBold{font-weight:800 !important}
.fNumRe{font-family:'Century Gothic' !important;font-weight:normal !important;}
.fNumBd{font-family:'Century Gothic' !important;font-weight:700 !important}

/*font-size*/
.f13{font-size:13px;}

/*color*/
.f_orange{color:#ff6702;}
.f_green{color:#009933;}
.f_red{color:#ff0000;}
.f_blue{color:#2263bb;}
.f_blue01{color:#003399;}
.f_black{color:#000;}
.f_gray{color:#333;}
.f_gray01{color:#999;}

/*box*/
.lr-box:after {content:"";display:block;clear:both;}

/*align*/
.t_left{text-align:left !important;} .t_center{text-align:center !important;} .t_right{text-align:right !important;} 

/* float */
.f_left {float:left} .f_right {float:right !important;} .f_clear {clear:both} .clear {overflow:hidden;_zoom:1; clear:both}  .f_none{float:none !important;}

/*margin*/
.m_auto{margin: auto;}

/*etc*/
.check{display:inline-block; width:12px; height:10px; background:url(../images/admin/ico_check.png) no-repeat; font-size:0; margin:0 10px 5px 10px; vertical-align:middle;}
.slash{padding:0 5px;}
.hyphen{width: 13px;height: 32px;margin: 0 2px 0 2px;line-height: 32px;vertical-align: middle;text-align: center;}

/* none 시리즈 속성 정의 */
.none_h{height:auto !important;}
.none_bor {border:none !important;}
.none_bort {border-top:none !important;}
.none_borr {border-right:none !important;}
.none_borl {border-left:none !important;}
.none_borb {border-bottom:none !important;}
.none_borb1 {border-bottom:1px solid #ccc !important;}
.none_bg {background:none !important;}
.none_dp {display:none !important;}
.none_ma {margin:0px !important;}
.none_pa {padding:0px !important;}
.none_pt {padding-top:0px !important;}
.none_pb {padding-bottom:0px !important;}

/*width*/
.w50{width:50px;}
.w60{width:60px;}
.w80{width:80px;} .w80p{width:80% !important;}
.w100{width:100px;} .w100%{width:100% !important;}.w100p{width:100% !important;}
.w120{width:120px;}
.w150{width:150px;}
.w200{width:200px;}
.w250{width:250px;}
.w300{width:300px;}
.w310{width:310px;}
.w354{width:354px;}
.w400{width:400px;}
.w500{width:500px;}
.w600{width:600px;}
.w700{width:700px;}
.w730{width:730px;}

/*height*/
.h50{min-height:50px;}
.h100{min-height:100px;}
.h300{min-height:300px;}

/* margin */
.mt5{margin-top:5px;}
.mt7{margin-top:7px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}
.mt35{margin-top:35px;}
.mt40{margin-top:40px;}
.mt50{margin-top:50px;}

.mr2{margin-right:2px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr25{margin-right:25px;}
.mr30{margin-right:30px;}
.mr35{margin-right:35px;}
.mr40{margin-right:40px;}

.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb25{margin-bottom:25px;}
.mb30{margin-bottom:30px !important;}
.mb35{margin-bottom:35px;}
.mb40{margin-bottom:40px;}


.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml25{margin-left:25px;}
.ml30{margin-left:30px;}
.ml35{margin-left:35px;}
.ml40{margin-left:40px;}
.ml45{margin-left:45px;}
.ml50{margin-left:50px;}
.ml55{margin-left:55px;}

/* padding */
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt25{padding-top:25px;}
.pt30{padding-top:30px;}
.pt35{padding-top:35px;}
.pt40{padding-top:40px;}

.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr25{padding-right:25px;}
.pr30{padding-right:30px;}
.pr35{padding-right:35px;}
.pr40{padding-right:40px;}
.pr45{padding-right:45px;}

.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb25{padding-bottom:25px;}
.pb30{padding-bottom:30px;}
.pb35{padding-bottom:35px;}
.pb40{padding-bottom:40px;}

.pl3{padding-left:3px;}
.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl25{padding-left:25px;}
.pl30{padding-left:30px;}
.pl35{padding-left:35px;}
.pl40{padding-left:40px;}
.pl388{padding-left:388px;}

/*버튼*/
.btnArea{ margin:0px 0 10px 0; }
.btnComm{display:inline-block; padding:5px 25px; font-size:15px; line-height:22px;border:1px solid #9098a4; text-align:center; white-space:nowrap;}
.btnComm_b{display:inline-block; padding:5px 40px; font-size:15px; line-height:22px;border:1px solid #2468cd; text-align:center; white-space:nowrap;background:url(../images/admin/ico_down.png) no-repeat 140px 9px;}
.btnComm_s{display:inline-block; padding:5px 10px; font-size:15px; line-height:18px;border:1px solid #9098a4; text-align:center; white-space:nowrap;}
.btnComm_reply{display:inline-block; padding: 19px 23px; font-size:18px; line-height:22px;border:1px solid #9098a4; border-radius:2px; text-align:center; white-space:nowrap;}
.btnComm_replyb{display:inline-block; padding: 0px 10px; font-size:13px; line-height:22px;border:1px solid #9098a4; border-radius:2px; text-align:center; white-space:nowrap;}
.blue{background-color:#0071ad; border-color:#0071ad; color:#fff; font-size: 20px; margin-right: 15px;}
.grblue{background-color:#4c7299; border-color:#4c7299; color:#fff;}
.blue_b{background-color:#1b4c95; border-color:#2468cd; color:#fff;font-weight:700;}
.gray{background-color:#7f8891; border-color:#7f8891; color:#fff;}
.red{background-color:#ff6666; border-color:#ff6666; color:#fff; font-size: 20px;}
.g_gray{background-color:#5b5b5b; border-color:#5b5b5b; color:#fff;}
.gray_line{background-color:#fff; border-color:#969ea6; color:#4c7299;}
.blue_line{background-color:#fff; border-color:#1d91ce; color:#1d91ce;}

.btnChk { display: inline-block; padding: 0 10px; height: 30px; background: #777777; font-size: 13px; color: #ffffff; border: none; }/*기본작은버튼_회원가입(테이블내)*/
.btnChk2 { display: inline-block; padding: 2px 20px; line-height:22px; background: #333; font-size: 13px; color: #ffffff; border-radius:2px; }/*기본작은버튼2_회원가입*/
.plus_po{ position:absolute; right:0; top:-3px;}

.btn_infolink{display:inline-block; height:30px; line-height:30px; background-color:#4aaab8; color:#FFF; min-width:70px; padding:0 30px; border-radius:40px; -webkit-border-radius:40px;-moz-border-radius:30px;}

/*정보 텍스트 박스*/
.info_box{background:#eff8fe; border:1px solid #d9e6f7; padding:15px 25px; font-size:13px;}
.info_box .tit{display:block; font-size:14px; font-weight:600; color:#222; padding:0 0 3px 20px; background:url(../images/common/ico_info.png) no-repeat 0 4px;}
.info_box .tit_s{display:block; font-size:14px; font-weight:300; color:#222; padding:0 0 3px 20px; background:url(../images/common/ico_info.png) no-repeat 0 4px;}
.info_box ul>li{padding-left:20px; background:url(../images/common/bul_dot01.png) no-repeat 5px 10px; line-height:22px; }
.spec_box{background:#eff8fe; border:1px solid #d9e6f7; padding:15px 25px; font-size:15px;margin-top:10px;}
.spec_box ul li.line{color:#0760ac;padding-left:20px; background:url(../images/common/ico_check.png) no-repeat 2px 6px; line-height:22px; }
.personalInfo_box h4{color:#666;font-weight:600;padding:10px 0 5px 0;}

/*tab01*/ 
.tab01 {overflow:hidden; width:100%; margin-bottom:20px;} 
.tab01 li {float:left; margin-right:-2px; width:50%;} 
.tab01 li a {display:block; font-size:12px; width:100%; height:50px; line-height:50px; text-align:center; font-size:16px; background:#f7f7f7; border:1px solid #c5c5c5;} 
.tab01 li.on a{color:#fff; background:#2c3e50; border:1px solid #2c3e50;} 
.w2_tab li {width:376px; margin-right:-2px}
	
	
