@charset "utf-8";

.header{
    width: 100%;
	min-width: 1020px;
    background: #1488d7;
    position: fixed; 
    top: 0;
    height: 80px !important;
    border-bottom: 1px solid #3b63a4;
    z-index:100;
}

.header ul li{float:left;}

.logo{background: #07314c url(../../images/intra_new/logo.png) no-repeat 29px 13px;width: 300px; height: 80px;text-indent: -999px;}

.header ul li:nth-child(1){
	width: 312px;
}
.header .wrap_navbar{
	float: right;
	padding-top:20px;
}

.header .wrap_log{
	float: right;
	width: 140px;
	padding-top:21px;
	color:#00ff9c;
	font-weight: 600;
	margin-left:15px; 
	font-size: 15px;
}
.header .wrap_log img{
	margin-right:8px;
	
}

.navbar {
  overflow: auto;
  float: right;
}

.navbar a {
  float: left;
  padding: 9px 12px 10px 12px;
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;	
  margin:0 1px;
  display:flex; align-items: bottom; justify-content: bottom;
}
.navbar a img{margin-right: 5px;}
/*.navbar a span{padding-top:20px;}*/

.navbar a:hover {
  background-color: #0d6dae;
  border-radius: 20px;
  height:30x;
}

.active {
  background-color: #0d6dae;
  border-radius: 20px;
}