@charset "utf-8";
@import "reset.css";
@import "fonts.css";
@import "header.css";


* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html{/*overflow-x:hidden;overflow-y:auto; */width:100%;}
html,body{height:100%; width:100%;min-width:1440px;margin:0;padding:0;}
body{font-family:"malgun", sans-serif; font-size:13px; line-height:1.4; color:#555; background-color:#f2f3f8; margin:0; padding:0;}


html, body {
    height:100%;
    margin:0;
    padding:0;
}

.wrap{
    /*width: 1920px;*/
    padding:110px 30px 30px 30px;
    margin: 0 auto;
    height:100%;
    min-height: 800px;
}

.cont_center{
    float:left;
    width:100%;
    height:100%;
    display: block;
}



/* tab */
.tab {
    overflow: hidden;
}

.tab ul li {
    width:140px;
	height:38px; 
	line-height:38px; 
    color:#5e6c76; 
	background-color:#fff; 
    border-left:1px solid #ced5df; 
	border-top:1px solid #ced5df; 
	border-right:1px solid #ced5df; 
    border-bottom:0; 
	border-radius:4px 4px 0 0; 
    box-sizing:content-box; 
    /*padding:0 30px;*/ 
	font-weight:bold; 
    display:inline-block; 
	text-decoration:none;
    margin-right: -2px;
	text-align: center;
	cursor:pointer;
}

.tab ul li:hover {
    background-color: #117fca;
	color:#fff;
}

.tab ul li.active {
    background-color: #117fca;
	color:#fff;
}

.tabcontent {
    display: none;
    padding:0;
    border:1px solid #e3e2e7;
    height:calc(100% - 10.9%);
    background: #fff;
}

.tabcontent_notice {
    display: none;
    padding:0;
    border:1px solid #e3e2e7;
    height:calc(100% - 5%);
    background: #fff;
}

.tit{
	margin-bottom: 10px;
}

.tit img{
	margin-right: 5px;
}

.tit span{
	color:#1c272e;
	font-size:18px;
	font-weight: 600;
	margin-right: 5px;
	vertical-align: middle;
	letter-spacing: -1px;

}

.tit_qna{
	margin-bottom: 10px;
}

.tit_qna img{
	margin-right: 5px;
	vertical-align: bottom;
}

.tit_qna span{
	color:#1c272e;
	font-size:18px;
	font-weight: 600;
	margin-right: 5px;
	vertical-align: top;
	letter-spacing: -1px;
	

}




/**마이페이지 테이블**/

.customers {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    background: #fff;
}

.customers th {
    background-color: #f1f2f7;
    border-bottom: 1px solid #e2e1e9 !important;
    border-left: 1px solid #e2e1e9 !important;
    color: #414850;
    font-weight: 600;
    height: 40px;
}

.customers th:first-child{border-left:none !important;}

.customers td{
    height:38px; 
    line-height:22px;
    color:#424d53;
    border-bottom: 1px solid #e2e1e9;
    text-align: center;
    padding: 8px 10px;
}

.customers td:nth-child(2){
	text-align: left !imporant;
}

.customers td.ellipsis {text-align: left;}

.customers tr:nth-child(even){background-color: #f0f9ff;}
.customers tr:hover {background-color: #fffadc;cursor:pointer;}

.ellipsis{overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}

.paging{
	display: inline-block;
	text-align:center; 
	padding:20px 0;
	display:flex; 
	align-items: center; 
	justify-content: center;
}
.paging a {
	padding:4px 8px;margin:0 2px;
}
.paging a.btn_prev {
	border:1px solid #ddd;
}
.paging a.btn_prev:hover {
	border:1px solid #333; 
	background:#fff;
}
.paging a.btn_next {
	border:1px solid #ddd;
}
.paging a.btn_next:hover {
	border:1px solid #333; 
	background:#fff;
}
.paging a.num {
	border:1px solid #fff;
}
.paging a.on {
	border:1px solid #7d7d7d; 
	background:#7d7d7d; color:#fff;
}


/**********************/
.customers_view {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    background: #fff;
}

.customers_view th {
    background-color: #fff;
    border-bottom: 1px solid #e2e1e9 !important;
    border-left: 1px solid #e2e1e9 !important;
    color: #414850;
    font-weight: 600;
    height: 50px;
	text-align: left;
	padding-left: 10px;
}

.customers_view th:first-child{border-left:none !important;}

.customers_view td{
    height:38px; 
    line-height:22px;
    color:#424d53;
    border-bottom: 1px solid #e2e1e9;
    text-align: center;
    padding: 8px 10px;
    
}

.view1{
	background: #f0f9ff;
	border-right: 1px solid #e2e1e9;
}

.view2{
	border-right: 1px solid #e2e1e9;
}

.customers_view textarea{
	width: 100%;
	height:400px;
	border: none;
	color:#ddd;
	font-family:"malgun", sans-serif; font-size:13px; 
	line-height:1.4; color:#555; 
	margin:10px;
}

.btn_area{
	float: right;
	margin:30px 20px 15px 15px;
}

.btn_area a{color: #fff;}

.btn_list{
	background: #117fca;
	padding: 10px 20px;
	border-radius: 4px;
	color: #fff;
	font-weight: 600;
}


.btn_area_write{
	float: right;
	margin:5px 10px 0 15px;
}

.btn_area_write a{color: #fff;}

.btn_write{
	background: #117fca;
	padding: 8px 15px;
	border-radius: 4px;
	color: #fff;
	font-weight: 600;
}


.container-tb table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    min-width: 100%;
}

.container-tb td,
.container-tb th {
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
}

.container-tb thead td,
.container-tb thead th {
    border-top: none;
    border-bottom: none;
}

.container-tb {
    /*height: calc(100% - 5px);*/
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.container-tb td.fth-header,
.container-tb th.fth-header{
    border-top: none !important;
    border-bottom: none !important;
}


.container-tb th.fth-header {
    background-color: #f1f2f7;
    /*border-bottom: 1px solid #e2e1e9 !important;*/
    /*border-top: 1px solid #e2e1e9 !important;*/
    color: #414850;
    font-weight: 600;
    height: 40px;
}

/*.container-tb th.fth-header{border-left: 1px solid #e2e1e9 !important;}*/
.container-tb th.fth-header{
	/* background: url(../../images/intra_new/bg_rline.jpg) right !important; */
}

.container-tb tr:nth-child(even){
	background-color: #f0f9ff;
}
.container-tb tr:hover td{
	background-color:#fffadc; 
	cursor:pointer;
}

.container-tb th{
    /*border-bottom: 1px solid #e2e1e9;
    border-right: 1px solid #e2e1e9;*/
}

.container-tb th:last-child{
    border-right:none;
}

.container-tb td{
    height:38px; 
    line-height:18px;
    color:#424d53;
    border-bottom: 1px solid #e2e1e9;
    text-align: center;
    padding: 5px 10px;
}

.container-tb td:nth-child(1){width:30%;text-align: left;word-break:break-all; white-space: pre-line;}
.container-tb tbody td:nth-child(2){width:10%;}
.container-tb tbody td:nth-child(3){width:10%;}
.container-tb tbody td:nth-child(4){width:15%;}
.container-tb tbody td:nth-child(5){width:20%;}
.container-tb tbody td:nth-child(6){width:10%;}
.container-tb tbody td:nth-child(7){width:5%;}
.txt_left{text-align: left !important;}

.container-tb p {
	margin:0;
	padding:0;
	word-break:break-all;
}
.section {
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    height: 100%;
    background: #fff;
}

.custom_basic{
    height: calc(100% - 90px);
}

.paging {
	border: none;
}